# Q2

### Import library

In [16]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

import os

### Import data

In [8]:
os.system('clear')

0

In [9]:
df = pd.read_csv('petrolConsumption.csv')

In [10]:
df.head(10)

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410
5,10.0,5342,1333,0.571,457
6,8.0,5319,11868,0.451,344
7,8.0,5126,2138,0.553,467
8,8.0,4447,8577,0.529,464
9,7.0,4512,8507,0.552,498

In [13]:
print(df.shape)

(48, 5)

dataset has 48 rows and 5 columns

### Features in the data including target

In [14]:
df.columns

Index(['Petrol_tax', 'Average_income', 'Paved_Highways',
       'Population_Driver_licence(%)', 'Petrol_Consumption'],
      dtype='object')

In [12]:
df.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

#### Assume that we are going to model the petrol consumption

In [17]:
x_col = ['Petrol_tax', 'Average_income', 'Paved_Highways',
       'Population_Driver_licence(%)']
target_col = ['Petrol_Consumption']

### Divide the data set so that 20% of the data is as test data

In [28]:
X = df[x_col]
Y = df[target_col]

In [29]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=41)

### Feature Scaling

In [30]:
scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

### Fitting a linear regression model

In [50]:
reg = LinearRegression().fit(x_train, y_train)

### Making predictions on the test data

In [51]:
y_pred = reg.predict(x_test)

In [52]:
y_pred

array([[650.5481081 ],
       [589.68655389],
       [545.82267066],
       [677.73532964],
       [457.35839027],
       [560.72958574],
       [494.62627184],
       [492.31578748],
       [500.56483825],
       [563.97845104]])

### Compare the actual output values for in the testing set with the predicted values

In [54]:
y_test  = y_test.reset_index(drop=True)
y_pred = pd.DataFrame(y_pred)
y_pred = y_pred.rename(columns={0: 'Predict_Petrol_Consumption'})
df_com = pd.concat([y_test, y_pred], axis=1)
df_com

   Petrol_Consumption  Predict_Petrol_Consumption
0                 566                  650.548108
1                 524                  589.686554
2                 591                  545.822671
3                 640                  677.735330
4                 534                  457.358390
5                 498                  560.729586
6                 464                  494.626272
7                 467                  492.315787
8                 580                  500.564838
9                 571                  563.978451

### Evaluate the performance of the model

1. MAE

In [56]:
from sklearn.metrics import mean_absolute_error

In [57]:
mean_absolute_error(df_com['Petrol_Consumption'], df_com['Predict_Petrol_Consumption'])

51.49172864730319

2. MSE

In [58]:
from sklearn.metrics import mean_squared_error

In [59]:
mean_squared_error(df_com['Petrol_Consumption'], df_com['Predict_Petrol_Consumption'])

3267.5094098246645

3. RMSE

In [60]:
mean_squared_error(df_com['Petrol_Consumption'], df_com['Predict_Petrol_Consumption'], squared=False)

57.16213265637195